;
; DNS reverso
;
$TTL    604800
@       IN      SOA     proccm.redealuno.usp.br. hostmaster.proccm.redealuno.usp.br. (
                        201201212       ; Serial
                        8H              ; Refresh
                        2H              ; Retry
                        4W              ; Expire
                        1D )            ; Negative Cache TTL
;
                NS      proccm.redealuno.usp.br.        ; nameserver
;


{% for pc in groups["rede_interna"] %}

"{{ hostvars[pc].numeral }}"           PTR         "{{ pc }}".proccm.redealuno.usp.br

{% endfor %}
