auto {{ interface_interna }}
iface {{ interface_interna }} inet static
        address 192.168.0.127
        netmask 255.255.255.0
        pre-up echo 1 > /proc/sys/net/ipv4/ip_forward
        pre-up iptables-restore < /etc/iptables.rules
        pre-up ethtool -K {{ interface_interna }} tso off
